@font-face {
  font-family: Montserrat-Regular;
  src: url("./fonts/Montserrat-Regular.ttf");
}

@font-face {
  font-family: Montserrat-Bold;
  src: url("./fonts/Montserrat-Bold.ttf");
}

@font-face {
  font-family: Montserrat-Italic;
  src: url("./fonts/Montserrat-Italic.ttf");
}

@font-face {
  font-family: Montserrat-Thin;
  src: url("./fonts/Montserrat-Thin.ttf");
}

.createAccountContainer {
  width: auto;
  height: 500px;
  min-width: 100px;
  border-radius: 30px;
  background-color: transparent;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

::placeholder {
  color: rgb(143, 142, 140);
  opacity: 1;
}

span {
  background-image: linear-gradient(to right, red, yellow);
  font-family: Montserrat-Italic;
  border-radius: 10px;
}

.createAccountContainer > .TitlePage {
  display: flex;
  margin-bottom: 15px;
}

.createAccountContainer > .TitlePage > h1 {
  display: flex;
  color: white;
  margin: 0px;
  font-size: 30px;
  font-family: Montserrat-Thin;
}

.createAccountContainer > .LoginInputs {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid rgb(143, 142, 140);
  border-radius: 10px;
}

.createAccountContainer > .LoginInputs > input {
  display: flex;
  margin: 5px;
  width: 270px;
  height: 40px;
  color: white;
  padding: 5px;
  background-color: transparent;
  size: 10px;
  outline: none;
  font-family: Montserrat-Regular;
  font-size: 13px;
  border-width: 0px;
}

.createAccountContainer > .ErrorMessage {
  display: flex;
  align-self: flex-start;
  margin-left: 10px;
  font-family: Montserrat-Thin;
  color: red;
  font-size: 14px;
}

.createAccountContainer > .ButtonSend > button {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  width: 340px;
  height: 50px;
  border-radius: 10px;
  outline: none;
  color: white;
  border-width: 0px;
  background-image: linear-gradient(to left, red, yellow);
  font-family: Montserrat-Regular;
}

.createAccountContainer > .CreationAndForgot {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.createAccountContainer > .CreationAndForgot > input {
  display: flex;
  justify-content: center;
  width: 160px;
  margin: 10px;
  height: 50px;
  border-radius: 10px;
  outline: none;
  border-width: 0px;
  background-color: transparent;
  color: yellow;
  font-size: 12px;
  font-family: Montserrat-Regular;
  border: 1px solid rgb(194, 157, 84);
}

.createAccountContainer > div > .ClearImage {
  display: flex;
  width: 15px;
  height: 15px;
  padding-right: 10px;
}

.createAccountContainer > div > h4 {
  display: flex;
  align-self: center;
}
